[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
environ-config = "*"
sqlalchemy = {version = "*", extras = ["postgresql_psycopg2binary"]}

[dev-packages]

[requires]
python_version = "3.10"
